<?xml version="1.0" encoding="UTF-8"?>
<UmModulesConfigDocument schemaVersion="1.0.0.0">
	<ModuleConfig 
	LibraryPath="/opt/plcnext/apps/60002172000868/AuthenticationProvider/bin/<!--MODULE-->"
	ModuleName="Arp.System.UmModuleEx.UmModuleEx" ConfigPath="UmModuleEx.config" />
</UmModulesConfigDocument>
